/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(235, 222, 222);
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(200, 182, 182);
    
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  .faucet1{
    position: relative;
    left: 10px;
    top: 10px;
  }

  .reportB1{
    position: absolute;
    right: 150px;
    top: 300px;

  }
  .reportB2{
    position: absolute;
    right: 0px;
    top: 300px;

  }
 .ttt{
  position: relative;
 }
 table, th, td {
  border:1px solid black;

}